.footer_container {
  background-color: $light-color;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: greenyellow;
  font-size: 1.3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 2px;
  p {
    color: black;
    background-color: greenyellow;
  }
}

@media only screen and (max-width: 376px) {
  .footer_container {
    font-size: 1rem;
  }
}

