@import "variables.scss";

.container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 600px;
  background-color: $light-color;
}
.gui {
  width: 60%;
}
@mixin mobile {
  .container1 {
    height: 480px;
  }

  .gui {
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  @include mobile();
  .gui {
    width: 100%;
  }
}
@media only screen and (min-width: 750px) and (max-width: 769px) {
  @include mobile();
  .gui {
    width: 80%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 869px) {
  @include mobile();
  .gui {
    width: 70%;
  }
}

@media only screen and (min-width: 869px) and (max-width: 1024px) {
  @include mobile();
  .gui {
    width: 70%;
  }
}

@media only screen and (min-width: 1201px) {
  .container1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 700px;
    background-color: $light-color;
  }

  .gui {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1401px) {
  .container1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 800px;
    background-color: $light-color;
  }

  .gui {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1601px) {
  .container1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 800px;
    background-color: $light-color;
  }

  .gui {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1901px) {
  .container1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 900px;
    background-color: $light-color;
  }

  .gui {
    margin-top: 5%;
  }
}
