@import "variables.scss";

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-color: $light-color;
}
.mine {
  width: 60%;
}

@media only screen and (max-width: 576px) {
  .container1 {
    background-color: $light-color;
    height: 500px;
  }
  .mine {
    width: 100%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .mine {
    width: 100%;
  }
}
