.wrapper {
  margin: 0 auto;
}

.navlink {
  color: #022c43;
  font-size: 1.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  height: 80px;
}

.navlink:hover {
  color: #ff5959;
}

/* font-family: "Petemoss", cursive; */

/* Landing Page styling */
.nav-wrapper {
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80px;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 550px;
  background-color: #eeeeee;

}

.img3 {
  height: 550px;
  width: auto;
  align-self: flex-start;
}

#me {
  font-family: "Petemoss", cursive;
  font-size: 6rem;
  color: #ff5959;
  margin-left: 25%;
}
.cv_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee
}

.cv_container h1 {
  font-family: "Asap", sans-serif;
 font-size: 3rem;
}
.cv {
 margin-top: 5%;

  width: 800px;
 background-color: #fff;

}

.container1 p {
  color: #022c43;
  justify-self: flex-start;
  margin-top: 19%;
  margin-left: -47%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2rem;
}

@media only screen and (min-width: 326px) and (max-width: 480px) {
 .container1 {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: fit-content;
 }

 .img3 {
   height:350px;
   margin-left: 50px;
   
 }

 #me {
   font-size: 4rem;
 
 }
.container1 p {
  align-self: center;
  margin-left: 50px;
}
 .cv_container {
  display: flex;
  flex-direction: column;
  align-items: center;


 }
.typing {
  width: 80%
}
 .cv {
   width: 70%
 }
}
/* LITTLE DEVICES  */
@media only screen and (max-width: 325px) {
  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
 
  .img3 {
    height:350px;
    margin-left: 50px;
    
  }
 
  #me {
    font-size: 4rem;
  
  }
 .container1 p {
   align-self: center;
   margin-left: 50px;
 }
  .cv_container {
   display: flex;
   flex-direction: column;
   align-items: center;
 
 
  }
 .typing {
   width: 80%
 }
  .cv {
    width: 70%
  }
}

@media only screen and (min-width: 350px) and (max-width: 380px) {
  .me {
    margin-left: 19%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 569px) {
  .container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: #eeeeee;
  }
  #me {
    margin-left: 25%;
    top: 200px;
  }
  .img4 {
    height: 150px;
    width: 300px;
    position: relative;
    top: 1px;
  }
  .con2 {
    display: flex;
    justify-content: center;

    height: 150px;
    width: 300px;
  }

  .img3 {
    display: none;
  }
}

@media only screen and (min-width: 569px) and (max-width: 769px) {
  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: center;
  }
 
  .img3 {
    height:350px;
    margin-left: 50px;
    align-self: center;
    margin: 0 auto;
    
  }
 
  #me {
    font-size: 6rem;
  
  }
 .container1 p {
  margin : 0 auto;

 }
  .cv_container {
   display: flex;
   flex-direction: column;
   align-items: center;
 
 
  }
 .typing {
   width: 60%
  
 }
  .cv {
    width: 70%
  }
 
 
}

@media only screen and (min-width: 770px) and (max-width: 1030px) {
  .container1 {
    display: flex;
 
    height: fit-content;
    justify-content: center;
  }
 
  .img3 {
    height:350px;
    margin-left: 50px;
    align-self: center;
    margin: 0 auto;
    
  }
 
 #me {
    font-size: 6rem;
   

  
  }
 .container1 p {
display: none;
 }
  .cv_container {
   display: flex;
   flex-direction: column;
   align-items: center;
 
 
  }
 .typing {
   width: 60%
  
 }
  .cv {
    width: 70%
  }
}

@media only screen and (min-width: 1445px) and (max-width: 2565px) {
  .container1 {
    display: flex;
 
    height: fit-content;
    justify-content: space-around
  }
 
  .img3 {
    height:550px;
    margin-left: 50px;
    align-self: center;
    margin: 0 auto;
    
  }
 
  .me {
    font-size: 10rem;
   

  
  }
 .container1 p {
display: none;
 }
  .cv_container {
   display: flex;
   flex-direction: column;
   align-items: center;
 
 
  }
 .typing {
 font-size: 5rem;
  
 }
  .cv {
    width: 70%
  }
}

/* About Me page  */

.container_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  background-color: #eeeeee;
  align-items: center;
}

.info {
  color: #ff5959;
  font-family: "Petemoss", cursive;
  font-size: 5em;
  padding: 6%;
  text-shadow: 2px 2px black;



}

.info:hover {
}

.info3 {
  color: #ff5959;
  font-family: "Petemoss", cursive;
  font-size: 5em;
  margin-top: 9%;

  text-shadow: 2px 2px black;
  margin-bottom: 5%;
}

.info1 {
  color: #ffd700;
  font-family: "Petemoss", cursive;
  font-size: 5em;
  padding: 40px;
  margin-top: 0 auto;
  text-shadow: 2px 2px black;
}

.p1,
.p2,
.p3 {
  display: flex;
  border-bottom: 1px solid rgb(139, 139, 139);
}
.p2 {
  margin-top: 3%;

}

.p3 {
  margin-top: 4%;
}

.info_card,
.info_card2,
.info_card3,
.info_card4,
.info_card5 {
  margin-right: 30px;
  font-family: "Asap", sans-serif;
  margin-bottom: 6%;
  
}

.p11 {
  width: 700px;
  margin-top: 10%;
  font-family: "Asap", sans-serif;
  font-size: 1.2em;
  padding: 15px;
  margin-bottom: 5%;
}
.p33 {
  width: 500px;
  font-family: "Asap", sans-serif;
  font-size: 1.2em;

  height: 140px;
  align-self: flex-end;
}
.img1 {
  height: 250px;
  justify-self: flex-start;
}
.img2 {
  height: 250px;
}

@media only screen and (max-width: 325px) {
}

@media only screen and (max-width: 380px) {
  .container_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    background-color: #eeeeee;
    align-items: center;
  }

  .p1,
  .p2,
  .p3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .p33,
  .p11 {
    width: 70%;
  }

  .p33 {
    margin-right: 15%;
  }

  .info3 {
    display: none;
  }

  .p2 {
    margin-top: 45%;
  }
}

@media only screen and (max-width: 430px) {
  .container_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    background-color: #eeeeee;
    align-items: center;
  }

  .p1,
  .p2,
  .p3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .p33,
  .p11 {
    width: 70%;
  }

  .p33 {
    margin-right: 15%;
  }

  .info3 {
    display: none;
  }

  .p2 {
    margin-top: 45%;
  }
}

@media only screen and (max-width: 770px) {
  .container_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    background-color: #eeeeee;
    align-items: center;
  }

  .p1,
  .p2,
  .p3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 1030px) {
  .container_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    background-color: #eeeeee;
    align-items: center;
  }

  .p1,
  .p2,
  .p3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* Contacts Page */
@media only screen and (max-width: 780px) {
  .for {
    width: 70%;
  }

  .contact_image {
    width: 200px;
  }
}

@media only screen and (max-width: 1030px) {
  .contact_image {
    max-height: 250px;
  }
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eeeeee;
  height: 650px;
}

.email {
  width: 30px;
 
}
.github {
  margin-right: 2%;
  width: 30px;
}
.for {
  font-family: "Petemoss", cursive;
  font-size: 5rem;
  color: #022c43;
  align-self: center;
}
.for1 {
  color: #022c43;
  font-family: "Petemoss", cursive;
}
.link1 {
  color: #ff5959;
  margin-right: 20px;
 
}

.link1:hover {
  text-shadow: 2px 5px black;
}
.container4 {
  height: 250px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.contact_image {
  height: 350px;
  position: absolute;
  right: 10%;
}

@media only screen and (max-width: 480px) {
  .container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eeeeee;
    height: 690px;
  }

  @media only screen and (max-width: 321px) {
    .container3 {
      display: flex;
    }
    .container4 {
      height: 200px;
    }

    .for1 {
      display: none;
    }

    .for {
      align-self: center;
      margin-top: 5px;
    }
  }

  @media only screen and (min-width: 321px) and (max-width: 380px) {
    .container3 {
      display: flex;
    }
    .container4 {
      height: 200px;
    }

    .for1 {
      display: none;
    }

    .for {
      align-self: center;
      margin-top: 5px;
    }
  }

  @media only screen and (max-width: 430px) {
    .for {
      width: 50%;
    }

    .container3 {
      height: 800px;
    }
  }

  .for {
    font-family: "Petemoss", cursive;

    color: #022c43;
    align-self: center;
    flex-wrap: wrap;
  }
  .for1 {
    color: #022c43;
    font-family: "Petemoss", cursive;
  }
  .link1 {
    color: #ffd700;
  }

  .link1:hover {
    background-color: #002c43;
  }

  .contact_image {
    display: none;
  }
}

/* HREF STYLLING */
a {
  color: black;
}

/* 'Footer Styling' */
.footer_container {
  background-color: #eeeeee;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  line-height: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* PROJECTS PAGE */

.container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 650px;
  background-color: #eeeeee;
}
.container5 h1 {
  font-family: "Petemoss", cursive;
  font-size: 6rem;
  margin-top: 2px;
}
.card1 {
  width: 270px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ff5959;
}

.project_link {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.project_link span {
  position: relative;
  z-index: 2;
}

.project_link:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff5959;
  transition: all 0.35s;
}

.project_link:hover {
  color: #fff;
}

.project_link:hover:after {
  width: 100%;
}

card {
  transform: translate(-50%, -50%);
  width: 360px;
  height: 550px;
  background: #000;
}
.card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card .image img {
  width: 350px;
  height: 400px;

  transition: 0.5s;
}
.card:hover .image img {
  opacity: 0.5;
  transform: translateX(30%); /*100%*/
}
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%; /*100%*/
  height: 100%;
  background: #ff5959;
  transition: 0.5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card .details .center h1 {
  margin: 0;
  padding: 0;
  font-family: "Asap", sans-serif;
  line-height: 20px;
  font-size: 2rem;
}
.card .details .center h1 span {
  font-size: 1.1 rem;
  font-family: "Asap", sans-serif;
  color: #262626;
}
.card .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;
}
.card .details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}
.card .details .center ul li {
  list-style: none;
  margin: 0 5px;
  float: left;
}
.card .details .center ul li a {
  display: block;
  background: #262626;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transform: 0.5s;
}
.card .details .center ul li a:hover {
  background: #ff3636;
}

@media only screen and (max-width: 321px) {
  .container5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 850px;
    background-color: #eeeeee;
  }
  .card {
    width: 315px;
  }

  .card .details .center {
    width: 95%;
  }
  .project_link {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    right: 15px;
    transition: all 0.35s;
  }
}

@media only screen and (min-width: 321px) and (max-width: 376px) {
  .container5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 850px;
    background-color: #eeeeee;
  }
  .card {
    width: 315px;
  }

  .card .details .center {
    width: 95%;
  }
  .project_link {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    right: 15px;
    transition: all 0.35s;
  }
}

@media only screen and (min-width: 377px) and (max-width: 427px) {
  .container5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 850px;
    background-color: #eeeeee;
  }
  .card {
    width: 315px;
  }

  .card .details .center {
    width: 95%;
  }
  .project_link {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    right: 15px;
    transition: all 0.35s;
  }
}

@media only screen and (min-width: 428px) and (max-width: 770px) {
  .container5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 850px;
    background-color: #eeeeee;
  }
  .card {
    width: 315px;
  }

  .card .details .center {
    width: 95%;
  }
  .project_link {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    right: 15px;
    transition: all 0.35s;
  }
}

@media only screen and (min-width: 771px) and (max-width: 1030px) {
  .container5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 850px;
    background-color: #eeeeee;
  }
  .card {
    width: 315px;
  }

  .card .details .center {
    width: 95%;
  }
  .project_link {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    right: 15px;
    transition: all 0.35s;
  }
}





/* ANIMATIONS */

.scroll {
  background-color: #eeeeee;
 height: 120px; 
 display: flex;
 justify-content: center;
 align-items: center

}

.scroll-down1{

  width: 50px;
  height: 50px;
  border-radius: 100%;
  border:  2px solid #ff5959;
  font-size: 30px;
  overflow: hidden; 
  cursor: pointer;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
 margin: 0 auto;


}

.scroll-down1 i{
    color: #ff5959;
    animation: scrollDown1 1.5s ease infinite;
}

@keyframes scrollDown1{
  0%{
      transform: translateY(-15px);
      opacity: 0;
  }
  50%{
      transform: translateY(0px);
      opacity: 1;
  }
  100%{
      transform: translateY(15px);
      opacity: 0;
  }
}


.typing {
  position: relative;

}
.typing:after {
  content: "  👀 ";
  position: absolute;
  right: 0;
  width: 100%;
  color:#022c43;
  background: #eeeeee;
  animation: infinite typing 6s  forwards,
    caret 1s infinite;
}

@keyframes typing {
	to { width: 0 }
}
@keyframes caret {
	50% { color: transparent }
}


/* sidenav */

.utility {
  margin-top: 7%;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 80px;
  height: 300px;
  position: fixed;
  border-right: 2px solid black;
 
 
}
.utility a {
  margin-top: 15%;
}
.img999 {
  width:30px;
  margin-top: 45%;


 
}

.img999::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #e41111;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.img999:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ee1212;
}

.img999:hover {
  color: #ff0d0d;
  box-shadow: 0 0 5px #ff1010;
  text-shadow: 0 0 5px #ff1010;
}



@media only screen and (max-width: 765px) {
  .utility {
  display: none

  }
  .scroll {
    display:none
  }
  .scroll-down1 {
    display: none
  }
}